/*
*** MAIN Colors
** HIGHLIGHT - #3AB295;
** SEMI - #632EE1;
** TEXT - #DEDEDE;
** SHADOW GREEN - #0F2C24;
** SHADOW WA - #575757;
*/

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Roboto', sans-serif;
}

.programmer-name {
    color: #3AB295;
}

/* Mobile-first */
@media (min-width:320px) {

    /* HEADER */
    header {
        background-color:#632EE1;
        color:#DEDEDE;
        text-align: center;
        padding: 10px;
        box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 6px, rgba(0, 0, 0, 0.23) 0px 3px 6px;
        margin-bottom: 15px;
    }

    header h1 {
        font-size: 1.5rem;
    }

    /* First layer-MAIN */
    #main-content {
        max-width: 280px;
        line-height: 24px;
        margin: 0 auto;
        margin-bottom: 15px;
    }

    #contents h1 {
        font-size: 1.2rem;
    }

    #contents .third-highlight {
        margin: 10px 0;
        height: 5vh;
    }

    #contents .third-highlight {
        font-size: .9rem;
    }

    #contents .programmer-name,
    #contents .third-highlight,
    #contents p {
        margin-bottom: 15px;
    }

    /* EXP */
    .experience h3 {
        font-size: 1rem;
    }

    .experience h4,
    .date-of-hired {
        font-size: .8rem;
    }

    .date-of-hired {
        color: #575757;
    }

    /* Second Layer-MAIN */
    #three_d-interaction {
        width: 100%;
    }

    /* SKILLS */
    .skills {
        height: auto;
    }

    .skills h3 {
        margin: 15px 0;
    }

    .programming-lang {
        padding: 3px 5px;
        margin: 4px;
        line-height: 29px;
        border: 0;
        border-radius: 5px;
        background-color: #632EE1;
        color: #DEDEDE;
        box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 6px, rgba(0, 0, 0, 0.23) 0px 3px 6px;
    }

    /* Three_D interaction */
    .three_dee img {
        width: 100%;
    }

    /* HR */
    hr {
        margin: 15px 15px;
    }

    /* FOOTER */
    .header-copyrights {
        font-size: .6rem;
        text-align: center;
        margin: 8px;
    }

    .icon-copyrights {
        text-align: center;
    }

    .icon-copyrights i {
        margin: 0 5px;
        font-size: 1rem;
    }

    /* SCROLL BTN */
    .scrollToTopBtn {
        background-color: #632EE1;
        border: none;
        border-radius: 50%;
        color: #DEDEDE;
        cursor: pointer;
        font-size: 1rem;
        line-height: 40px;
        width: 40px;

        /* place it at the bottom right corner */
        position: fixed;
        bottom: 30px;
        right: 30px;
        /* keep it at the top of everything else */
        z-index: 100;
        /* hide with opacity */
        opacity: 0;
        /* also add a translate effect */
        transform: translateY(100px);
        /* and a transition */
        transition: all .5s ease
    }

    .showBtn {
        opacity: 1;
        transform: translateY(0)
    }

    /* PROJECTS */
    .project-section h1 {
        margin-bottom: 15px;
    }

    .third-layer-content {
        background-color:#DEDEDE;
    }

    .style-box {
        margin-bottom: 15px;
    }

    .projects img {
        width: 100%;
    }

    .description {
        background-color:#DEDEDE;
        margin: 0;
        padding: 5px;
    }

    .description .type-of-project {
        font-size: .8rem;
        margin: 0 10px;
    }

    .type-of-project {
        background-color:#ffffff;
        color:#575757;
        border-radius: 5px;
        padding: 5px 5px;
        line-height: 30px;
    }

}

@media (min-width:481px) {}
@media (min-width:641px) {}
@media (min-width:961px) {}
@media (min-width:1281px) {}
