/*
    MAIN COLOR
    #01303f - Gun Metal BG
    #02577A - Headers
    #02a9f7 - Default text
    #D4F0FC - Highlight
    #89D6FB - other
*/

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
}

/* MISC */
::-webkit-scrollbar {
    width: 10px;
}

::-webkit-scrollbar-track {
    /* border-radius: 5px; */
    box-shadow: inset 0 0 10px rgba(0, 0, 0, 0.25);
}

::-webkit-scrollbar-thumb {
    /* border-radius: 5px;   */
    background-color: #02577A;
}

::-webkit-scrollbar-thumb:hover {
    background-color: #0376a7;
}

::-moz-selection {
    background: #D7624E;
    color: white;
}

::selection {
    background: #D7624E;
    color: white;
}

body {
    font-family: 'Playfair Display', serif;
    background-color: #01303f;
    color: #D4F0FC;
}

a {
    text-decoration: none;
    color: #89D6FB;
}

li {
    list-style: none;
}

p {
    line-height: 32px;
}

/* GENERAL */
.roman-num {
    color: #89D6FB;
    margin-right: 8px;
}

.main-greeting,
.author-duty,
.main-description,
.author-about,
.author-experience,
.author-project {
    margin-bottom: 30px;
}

#website-main,
#about,
#experience,
#work {
    margin: 0 auto;
    width: 100%;
    max-width: 940px;
    min-height: 100vh;
}

.author-about,
.author-experience,
.author-project {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

/* HEADER -> HIDE */
#website-header {
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 100;
    backdrop-filter: blur(10px);
    transition: all 0.25s cubic-bezier(0.645, 0.045, 0.355, 1);
}

#navigation {
    padding: 30px 50px;
}

.row {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.row img {
    width: 6%;
}

ul {
    padding: 0;
}

ul li {
    display: inline;
    margin: 0 10px;
    font-size: .8rem;
    padding: 10px;
}

li .arrow-right {
    margin: 0 10px;
}

li a {
    transition: all .3s ease-in-out;
}

li a:hover {
    color: #D4F0FC;
}

/* MAIN */
#website-header.hide {
    top: -112px;
}

.inner-main {
    margin-top: 115px;
}

.main-author {
    font-size: 3rem;
}

.author-duty {
    color: #89D6FB;
}

.main-description {
    width: 600px;
}

/* SVG */
.svg-wrapper {
    width: 320px;
}

.shape {
    stroke-dasharray: 140 540;
    stroke-dashoffset: -474;
    stroke-width: 8px;
    fill: transparent;
    stroke: #19f6e8;
    border-bottom: 5px solid black;
    transition: stroke-width 1s, stroke-dashoffset 1s, stroke-dasharray 1s;
}

.text {
    text-align: center;
    font-size: 22px;
    line-height: 32px;
    color: #fff;
    top: -48px;
    position: relative;
}

.svg-wrapper:hover .shape {
    stroke-width: 2px;
    stroke-dashoffset: 0;
    stroke-dasharray: 760;
}

/* SECTION: ABOUT */
.author-line {
    width: 300px;
    background: #727272;
    padding: 0 10px;
    height: 1px;
}

.about-author-description p {
    margin: 15px 0;
}

.set-of-tech {
    display: flex;
}

.set-of-tech .techs span,
.set-of-tech .tools span {
    display: block;
    margin: 10px 30px;
}

/* EXPERIENCE */
.inner-experience {
    position: relative;
}

.tabs {
    margin: 0 auto;
    width: 900px;
    height: 360px;
    padding: 30px 20px;
    overflow: hidden;
}

.tabs .tab-header {
    float: left;
    width: 250px;
    height: 100%;
    border-left: 1px solid #727272;
    padding: 50px 0px;
}

.tabs .tab-header > div {
    height:50px;
    line-height:50px;
    font-size:1rem;
    cursor:pointer;
    margin: 0 20px;
}

.tabs .tab-header > div:hover,
.tabs .tab-header > div.active {
    color:#00acee;
}

.tabs .tab-content {
    position:relative;
    height:100%;
    overflow:hidden;
}

.tabs .tab-content > div {
    position: absolute;
    padding:40px 20px;
    top:-200%;
    transition:all 500ms ease-in-out;
}

.tabs .tab-content > div h2 {
    margin-bottom: 15px;
}

.tabs .tab-content p {
    font-size: .8rem;
}

.year-job {
    color: #c9c9c9;
    margin: 10px 0;
}

.rt-arrow {
    font-size: .8rem;
    color: #02a9f7;
    margin-right: 10px;
}

.tabs .tab-content > div.active {
    top: 0px;
}

.tabs .tab-indicator {
    position:absolute;
    width: 2px;
    height: 25px;
    background:#00acee;
    left: 39px;
    top: 155px;
    transition:all 500ms ease-in-out;
}