/* ROOT Variable */
:root {
    --header-height: 3rem;
    --nav-width: 324px;

    /* Font Weight */
    --font-medium: 500;
    --font-semi-strong: 600;
    --font-strong: 700;

    /* COLOR */
    --surface-clr: #DFDCE3;
    --text-clr: #54423D;
    --light-txt-clr: #eae7e6;
    --background-clr: #4abdac;
    --objects-clr: #FC4A1A;
    --important-clr: #da960e;
    --about-img: #653f27;

    /* FONTS */
    --heading-font: 'Lato', sans-serif;
    --subheading-font: 'Yrsa', sans-serif;
    --contents-font: 'Kanit', sans-serif;
    --h1-fontsz: 1.5rem;
    --h2-fontsz: 1.25rem;
    --h3-fontsz: 1rem;
    --normal-fontsz: .938rem;
    --small-fontsz: .813rem;
    --smaller-fontsz: .75rem;

    /* Margins */
    --mb-1: .5rem;
    --mb-2: 1rem;
    --mb-3: 1.5rem;
    --mb-4: 2rem;
    --mb-5: 2.5rem;

    /* Z-index */
    --z-fixed: 100;
}

/* BASED */
*,
::before,
::after {
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
}

body {
    margin: var(--header-height) 0 0 0;
    font-family: var(--heading-font);
    font-size: var(--normal-fontsz);
    font-weight: var(--font-medium);
    background-color: var(--light-txt-clr);
    color: var(--text-color);
    line-height: 1.6;
}

h1, h2, h3, p {
    margin: 0;
}

h1 {
    font-family: var(--heading-font);
    text-shadow: 0px 4px 3px rgba(0,0,0,0.4),
             0px 8px 13px rgba(0,0,0,0.1),
             0px 18px 23px rgba(0,0,0,0.1);
}

h2, h3 {
    font-family: var(--subheading-font);
    font-weight: var(--font-semi-strong);
}

p {
    font-family: var(--contents-font);
}

ul {
    margin: 0;
    padding: 0;
    list-style: none;
}

a {
    text-decoration: none;
    color: var( --text-clr);
}

img {
    max-width: 100%;
    height: auto;
    display: block;
}

/* Classes */
.section {
    padding: 4rem 0 2rem;
}

.section-title {
    font-size: var(--h1-fontsz);
    color: var(--important-clr);
    margin-bottom: var(--mb-3);
    text-align: center;
}

.section-subtitle {
    display: block;
    font-size: var(--small-fontsz);
    color: var(--text-clr);
    text-align: center;
    font-weight: var(--font-strong);
    margin-bottom: .25rem;
}

/* Layouts */
.bd-grid {
    max-width: 1024px;
    display: grid;
    grid-template-columns: 100%;
    column-gap: 2rem;
    width: calc(100% - 2rem);
    margin-left: var(--mb-2);
    margin-right: var(--mb-2);
}

.l-header {
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    z-index: var(--z-fixed);
    background-color: var(--background-color);
    box-shadow: 0 2px 4px rgba(0, 0, 0, .1);
}

/* NAVIGATION */
.nav {
    height: var(--header-height);
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.nav__menu {
    position: fixed;
    top: 0;
    left: -100%;
    width: 90%;
    height: 100vh;
    padding: 3rem;
    display: flex;
    align-items: center;
    background-color: var(--background-clr);
    transition: .5s;
}

.nav__close {
    position: absolute;
    top: 1rem;
    right: 1rem;
    font-size: 2rem;
    color: var(--surface-clr);
    cursor: pointer;
}

.nav__item {
    margin-bottom: var(--mb-4);
}

.nav__link {
    font-size: 1rem;
    text-transform: uppercase;
    color: var(--light-txt-clr);
    font-weight: var(--font-strong);
    transition: .3s;
}

.nav__link:hover {
    color: var(--text-clr);
}

.nav__toggle {
    color: var(--text-clr);
    font-size: 1.3rem;
    cursor: pointer;
}

/*
    SHOW MENU
    See main.js
*/
.show {
    left: 0;
}

/*
    FOR ACTIVE
*/
.active {
    color: var(--important-clr);
}

/* HOME */
.home__container {
    height: calc(100vh - var(--header-height));
    align-items: center;
}

.home__data {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: max-content;
    text-align: center;
}

.home__img {
    padding-top: 1.3rem;
    padding-left: .8rem;
    width: 160px;
    height: 160px;
    background-color: var(--about-img);
    border-radius: 50%;
    overflow: hidden;
    margin-bottom: var(--mb-2);
}

.home__img img {
    width: 155px;
}

.home__title {
    font-size: var(--h1-fontsz);
    color: var(--text-clr);
    font-weight: var(--font-semi-strong);
}

.home__social-link {
    display: inline-flex;
    background-color: var(--text-clr);
    color: var(--surface-clr);
    font-size: 1.1rem;
    border-radius: 50%;
    padding: .40rem;
    margin: 0 var(--mb-1);
    transition: .3s;
}

.home__social-link:hover {
    background-color: var(--light-txt-clr);
    color: var(--about-img);
}

span.home__profession {
    margin-bottom: .8rem;
}

.home__button {
    width: 100%;
}

/* FOR BUTTONS */
.button {
    display: inline-block;
    background-color: var(--background-clr);
    color: #eee;
    padding: .9rem 1.5rem;
    font-weight: var(--font-semi-strong);
    border-radius: .5rem;
    transition: .3s;
    box-shadow: 0px 4px 3px rgb(0 0 0 / 40%), 0px 8px 13px rgb(0 0 0 / 10%), 0px 18px 23px rgb(0 0 0 / 10%);
}

.button:hover {
    background-color: #f1f391;
    color: var(--background-clr);
}

/* ABOUT */
.about__container {
    row-gap: 2rem;
}

.about__data {
    text-align: center;
    font-family: var(--contents-font);
}

.about__description {
    margin-bottom: var(--mb-4);
    color: #6d6060;
    font-weight: 550;
}

.about__img {
    width: 150px;
    border-radius: .5rem;
    margin: 0 auto;
}

.about__information {
    margin-bottom: var(--mb-4);
    font-family: var(--contents-font);
}

.about__information-title {
    font-size: var(--h3-fontsz);
    color: var(--text-clr);
    margin-bottom: var(--mb-2);
}

.about__information-data {
    display: flex;
    align-items: center;
    padding-left: 1.5rem;
    margin-bottom: var(--mb-3);
}

.about__information-icon {
    font-size: 1.5rem;
    color: var(--text-clr);
    margin-right: var(--mb-4);
}

.about__information-subtitle {
    display: block;
    font-weight: var(--font-semi-strong);
}

.about__information-subtitle-small {
    font-size: var(--small-fontsz);
}

/* SKILLS */
.skills__container {
    row-gap: 2rem;
}

.skills__subtitle {
    font-size: var(--h3-fontsz);
    color: var(--important-clr);
    margin-bottom: 0 var(--mb-2);
}

.skills-data {
    position: relative;
    margin: 2rem;
    font-family: var(--contents-font);
}

.skills__name {
    background: var(--background-clr);
    color: var(--light-txt-clr);
    padding: .8rem;
    text-transform: uppercase;
}

/* EDUCATION */
.education__container {
    row-gap: 2rem;
}

.education__content {
    display: grid;
    grid-template-columns: 1fr max-content 1fr;
}

.education__year,
.education__race {
    font-size: var(--h2-fontsz);
    margin-bottom: .25rem;
    color: #6d6060;
}

.education__university,
.education__specialty {
    display: block;
    font-style: var(--smaller-fontsz);
    color: #6d6060;
    font-weight: bold;
}

.education__year,
.education__university {
    text-align: right;
}

.education__time {
    padding: 0 1rem;
    justify-self: center;
}

.education__rounder {
    position: relative;
    display: inline-block;
    width: 12px;
    height: 12px;
    background-color: var(--background-clr);
    border-radius: 50%;
}

.education__rounder:before {
    content: '';
    position: absolute;
    transform: translate(-4px, -4px);
    width: 20px;
    height: 20px;
    border: 1px solid var(--important-clr);
    border-radius: 50%;
}

.education__line {
    display: block;
    height: 90%;
    width: 2%;
    background-color: var(--background-clr);
    transform: translate(5px, -4px);
}

/* SERVICES */
.services__container {
    row-gap: 2rem;
}

.services__content {
    padding: 1.5rem .5rem;
    border: 2px solid var(--important-clr);
    border-radius: .5rem;
    text-align: center;
}

.services__icon {
    font-size: 2rem;
    padding: .5rem;
    background-color: var(--background-clr);
    color: var(--surface-clr);
    border-radius: 50%;
    margin-bottom: var(--mb-2);
}

.services__title {
    font-size: 1.25rem;
    color: var(--about-img);
    margin-bottom: var(--mb-1);
}

.services__content,
.services__icon,
.services__description,
.services__title {
    transition: .5s;
}

.services__content:hover {
    background-color: var(--surface-clr);
}

.services__content:hover,
.services__icon {
    background-color: var(--surface-clr);
    color: var(--important-clr);
}

/* PROJECT */
.project {
    background-color: var(--background-clr);
    padding-bottom: 0;
}

.only-red {
    color: #ec263e;
    text-align: left;
}

.project__container {
    row-gap: 2rem;
}

.project__data {
    text-align: center;
}

.project__data .gray {
    color: #f1f391;
    font-weight: bold;
    text-shadow: 0px 4px 3px rgb(0 0 0 / 40%), 0px 8px 13px rgb(0 0 0 / 10%), 0px 18px 23px rgb(0 0 0 / 10%);
    margin-bottom: 1rem;
}

.project__title,
.project__description {
    color: var(--text-clr);
}

.project__description {
    margin-bottom: var(--mb-4);
}

.project__img {
    width: 220px;
    justify-self: center;
}

/* WORKS */
.works__container {
    justify-items: center;
    row-gap: 2rem;
    margin-bottom: 2rem;
}

.works__img {
    position: relative;
    overflow: hidden;
    border-radius: .5rem;
    box-shadow: 0px 4px 3px rgb(0 0 0 / 40%), 0px 8px 13px rgb(0 0 0 / 10%), 0px 18px 23px rgb(0 0 0 / 10%);
}

.works__data {
    position: absolute;
    bottom: -100%;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background: rgb(247 244 242);
    border-radius: .5rem;
    transition: .3s;
}

.works__link {
    display: inline-flex;
    font-size: 1.5rem;
    background-color: var(--important-clr);
    color: var(--surface-clr);
    padding: .25rem;
    margin-bottom: var(--mb-2);
}

.works__title {
    font-size: var(--h2-fontsz);
    color: var(--about-img);
    font-weight: var(--font-strong)
}

.works__img:hover .works__data {
    bottom: 0;
}

/* CONTACT */
.contact {
    background: #119281;
    color: var(--surface-clr);
}

.section-title {
    color: #d32135;
}

.contact__container {
    text-align: center;
}

.content__desc {
    margin-bottom: var(--mb-2);
}

.email .bx-mail-send {
    margin-right: .4rem;
    font-size: .8rem;
}

.email {
    margin-bottom: var(--mb-3);
}

.email a {
    color: var(--light-txt-clr);
    font-weight: var(--font-semi-strong);
    cursor: pointer;
}

.map iframe {
    width: 300px;
    height: 200px;
}


/* FOOTER */
.footer {
    background-color: var(--text-clr);
    color: var(--surface-clr);
    text-align: center;
}

.footer__title {
    font-size: var(--h2-fontsz);
    margin-bottom: var(--mb-2);
}

.footer__description {
    font-weight: var(--font-strong);
}

.footer__social {
    margin-top: 1rem;
    margin-bottom: 3rem;
}

.footer__link {
    display: inline-flex;
    background-color: var(--text-clr);
    color: var(--surface-clr);
    font-size: 1.1rem;
    border-radius: 50%;
    padding: .40rem;
    margin: 0 var(--mb-1);
    transition: .3s;
}

.footer__link:hover {
    background-color: var(--light-txt-clr);
    color: var(--about-img);
}

.footer__copy {
    font-size: var(--smaller-fontsz);
    /* color: var(--text-clr); */
}

/* MEDIA QUERIES */
/* MOBILE FIRST */
@media screen and (min-width: 768px) {
    :root {
        --h1-fontsz: 2.25rem;
        --h2-fontsz: 1.5rem;
        --h3-fontsz: 1.25rem;
        --normal-fontsz: 1rem;
        --small-fontsz: .875rem;
        --smaller-fontsz: .813rem;
    }
}

/* BASED */
@media screen and (min-width: 768px) {
    .home__button {
        width: initial;
    }

    .nav__menu {
        width: var(--nav-width);
    }

    .about__container,
    .skills__container,
    .services__container,
    .works__container {
        grid-template-columns: repeat(2, 1fr);
    }

    .about__data {
        text-align: initial;
    }

    .about__description {
        margin-bottom: var(--mb-5);
    }

    .about__img {
        width: 220px;
    }

    .about__information {
        padding-left: 4rem;
    }

    .education__time {
        padding: 0 2rem;
    }

    .project {
        background: none;
    }

    .project__container {
        background-color: var(--background-clr);
        grid-template-columns: 2fr 1.2fr;
        padding: 0 2rem;
        border-radius: .5rem;
        box-shadow: 0px 4px 3px rgb(0 0 0 / 40%), 0px 8px 13px rgb(0 0 0 / 10%), 0px 18px 23px rgb(0 0 0 / 10%);
    }

    .project__data {
        padding: 3rem 0;
    }

    .project__title,
    .project__data {
        text-align: initial;
    }

    .project__img {
        width: 230px;
        align-self: flex-end;
    }

    .footer {
        background: none;
        color: var(--about-img);
    }

    .footer__container {
        background-color: var(--txt-clr);
        padding: 3rem 0;
        border-radius: .5rem;
    }
}

@media screen and (min-width: 1024px) {
    body {
        margin: 0;
        padding-left: var(--nav-width);
    }

    .l-header {
        width: 0;
    }

    .nav__toggle,
    .nav__logo,
    .nav__close {
        display: none;
    }

    .nav__menu {
        left: 0;
    }

    .home__container {
        height: 100vh;
    }

    .section {
        padding: 3rem 0 2rem;
    }

    .bd-grid {
        margin-left: auto;
        margin-right: auto;
    }

    .services__container {
        grid-template-columns: repeat(2, 1fr);
    }


}