/** Mixing of Fonts **/
// Mulish => Primary
// Playfair => Secondary
@import url('https://fonts.googleapis.com/css2?family=Mulish:ital,wght@0,300;0,400;0,500;1,200&family=Playfair+Display:ital,wght@0,500;0,600;1,400;1,500&display=swap');

$primaryFont: 'Mulish', sans-serif;
$secondaryFont: 'Playfair Display', serif;
$primaryClr: #fff;
$secondaryClr: #111;
$mixinClr: #ccc;
$hrefClr: #d3d33c;

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: $primaryFont;
}

html {
    scroll-behavior: smooth;
}

.container {
    padding: 0 100px 0 100px;
}

nav ul,
.main-info,
.work-category {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

body {
    background: #000000;
}

h1, a, .text p, .skills h1, .work h1, .contact h1 {
    color: #707070;
}

header {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding: 20px 0;

    .navbar {
        background-color: #181818;
    }
}